{{>header}}
<style>
    .nav-item:hover {
        background-color: #DFF2FA;
        /* Light blue background on hover */
        cursor: pointer;
        /* Add a pointer cursor for better UX */
    }

    .nav-item.active {
        background-color: #DFF2FA;
        /* Fixed light blue background for active */
    }

    .bg-color {
        background-color: #DFF2FA;
    }
</style>

<section style="background-color: #DFF2FA;">
    <div class="container">
        <div class="row p-5">
            <h2>Welcome Mariyam Jahangir</h2>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-2 mt-5">
                <nav class="d-flex flex-column p-3">
                    <a href="profile" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-person-circle p-2"></i>Profile</a>
                    <a href="address" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2 active"
                        aria-current="page"><i class="bi bi-cart4 p-2"></i>Address</a>
                    <a href="wishlist" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-heart p-2"></i>Wishlist</a>
                    <a href="orders" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-truck p-2"></i>Orders</a>
                    <a href="change-password" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-key p-2"></i>Password</a>
                    <a href="wallet" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-wallet2 p-2"></i>Wallet</a>
                    <a href="logout" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-box-arrow-right p-2"></i>Logout</a>
                </nav>
            </div>
            <div class="col-10">
                <div class="container m-4">
                    <h1 class="text-center">ADDRESS</h1>
                    <div class="row flex-column align-items-center">
                        <div class="col-11 mt-2 ">

                            {{#if user.address}}
                            {{#each user.address}}
                            {{#if (isEqual deleted false)}}
                            <div class="row d-flex justify-content-between border rounded bg-color mb-2">
                                <!-- Radio Button -->
                                <div class="col-1 p-4">
                                    <input class="form-check-input" type="radio" name="selectedAddress"
                                        value="{{this._id}}">
                                </div>

                                <!-- Address Details -->
                                <div class="col-9 py-4">
                                    <label class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <p><span>{{this.firstname}}
                                                    {{this.lastname}}</span>&emsp;<span>{{this.phone}}</span></p>
                                            <span>{{ formatAddress address locality district state pincode }}</span>

                                        </div>
                                    </label>
                                </div>

                                <!-- Edit & Delete Buttons -->
                                <div class="col-2 py-3 text-end">
                                    <button type="button" class="btn btn-outline-primary btn-sm my-2 edit-address-btn"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdropEdit"
                                        data-addressid="{{this._id}}" data-firstname="{{this.firstname}}"
                                        data-lastname="{{this.lastname}}" data-address="{{this.address}}"
                                        data-locality="{{this.locality}}" data-pincode="{{this.pincode}}"
                                        data-district="{{this.district}}" data-state="{{this.state}}"
                                        data-phone="{{this.phone}}" data-country="{{this.country}}">Edit</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm delete-address"
                                        data-addressid="{{this._id}}">Delete</button>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                            {{else}}
                                <div class="d-flex justify-content-center"><p>You have not added any address yet!</p></div>
                            {{/if}}


                            <!-- Modal for Edit Address-->
                            <div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Address</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="p-3">
                                                <form action="">
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="edfirstname" class="form-label">First
                                                                Name</label>
                                                            <input type="text" class="form-control" name="firstname"
                                                                id="edfirstname">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="edlastname" class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" name="lastname"
                                                                id="edlastname">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="edaddress" class="form-label">Address</label>
                                                        <textarea id="edaddress" name="address" class="form-control"
                                                            rows="2"></textarea>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="edlocality" class="form-label">Locality</label>
                                                            <input type="text" class="form-control" name="locality"
                                                                id="edlocality">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="edpincode" class="form-label">Pincode</label>
                                                            <input type="text" class="form-control" name="pincode"
                                                                id="edpincode">
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="eddistrict" class="form-label">District</label>
                                                            <input type="text" class="form-control" name="district"
                                                                id="eddistrict">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="edstate" class="form-label">State</label>
                                                            <input type="text" class="form-control" name="state"
                                                                id="edstate">
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="edphone" class="form-label">Phone</label>
                                                            <input type="text" class="form-control" name="phone"
                                                                id="edphone">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="edcountry" class="form-label">Country</label>
                                                            <input type="text" class="form-control" name="country"
                                                                id="edcountry">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="saveEditBtn">Save</button>
                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="text-center m-4">
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdropAdd">Add Address</button>
                            </div>

                            <!-- Modal for Add Address-->
                            <div class="modal fade" id="staticBackdropAdd" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Address</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="p-3">
                                                <form action="/address" method="POST" id="address-form">
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="firstname" class="form-label">First Name</label>
                                                            <input type="text" class="form-control" name="firstname"
                                                                id="firstname">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="lastname" class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" name="lastname"
                                                                id="lastname">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="address" class="form-label">Address</label>
                                                        <textarea id="address" name="address" class="form-control"
                                                            rows="2"></textarea>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="locality" class="form-label">Locality</label>
                                                            <input type="text" class="form-control" name="locality"
                                                                id="locality">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="pincode" class="form-label">Pincode</label>
                                                            <input type="text" class="form-control" name="pincode"
                                                                id="pincode">
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="district" class="form-label">District</label>
                                                            <input type="text" class="form-control" name="district"
                                                                id="district">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="state" class="form-label">State</label>
                                                            <input type="text" class="form-control" name="state"
                                                                id="state">
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex justify-content-between mb-3">
                                                        <div class="col-6">
                                                            <label for="phone" class="form-label">Phone</label>
                                                            <input type="text" class="form-control" name="phone"
                                                                id="phone">
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="country" class="form-label">Country</label>
                                                            <input type="text" class="form-control" name="country"
                                                                id="country">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{>footer}}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addressForm = document.getElementById("address-form");
        const submitButton = document.querySelector("#staticBackdropAdd .btn-primary");

        submitButton.addEventListener("click", async function (event) {
            event.preventDefault(); // Prevent default form submission
            // Collect form data
            const formData = {
                firstname: document.getElementById("firstname").value.trim(),
                lastname: document.getElementById("lastname").value.trim(),
                address: document.getElementById("address").value.trim(),
                locality: document.getElementById("locality").value.trim(),
                pincode: document.getElementById("pincode").value.trim(),
                district: document.getElementById("district").value.trim(),
                state: document.getElementById("state").value.trim(),
                phone: document.getElementById("phone").value.trim(),
                country: document.getElementById("country").value.trim(),
            };



            // Validate First Name
            if (!formData.firstname) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Missing First Name',
                    text: 'Please enter your first name.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            // Validate Last Name
            if (!formData.lastname) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Missing Last Name',
                    text: 'Please enter your last name.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            // Validate Address
            if (!formData.address) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Missing Address',
                    text: 'Please enter your address.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            // Validate Phone Number
            if (!formData.phone) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Missing Phone Number',
                    text: 'Please enter your phone number.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            // Validate Pincode
            if (!formData.pincode) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Missing Pincode',
                    text: 'Please enter your pincode.',
                    confirmButtonText: 'OK'
                });
                return;
            }


            if (!/^\d{6}$/.test(formData.pincode)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Pincode',
                    text: 'Pincode must be a 6-digit number.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            if (!/^\d{10}$/.test(formData.phone)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Phone Number',
                    text: 'Phone number must be a 10-digit number.',
                    confirmButtonText: 'OK'
                });
                return;
            }

            try {
                // Send data to the server using Fetch API
                const response = await fetch("/address", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData),
                });

                const data = await response.json().catch(() => ({ error: "Invalid JSON response" }));
                console.log("Server response:", response.status, data);

                if (data.message) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Address added successfully!',
                        confirmButtonText: 'OK'
                    });
                    addressForm.reset(); // Clear form fields
                    const modal = bootstrap.Modal.getInstance(document.getElementById("staticBackdropAdd"));
                    modal.hide(); // Hide modal
                    location.reload(); // Reload page to update UI (optional)
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed to Add Address',
                        text: 'Failed to add address. Please try again.',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while adding the address.',
                    confirmButtonText: 'OK'
                });

            }
        });
    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".edit-address-btn").forEach(button => {
            button.addEventListener("click", function () {
                // Get the modal fields
                const modal = document.getElementById("staticBackdropEdit");

                // Store the address ID in the save button
                const saveButton = modal.querySelector("#saveEditBtn");
                saveButton.setAttribute("data-addressid", this.getAttribute("data-addressid"));

                console.log("Editing First Name:", this.getAttribute("data-firstname"));

                // Set values in modal form fields
                modal.querySelector("#edfirstname").value = this.getAttribute("data-firstname");
                modal.querySelector("#edlastname").value = this.getAttribute("data-lastname");
                modal.querySelector("#edaddress").value = this.getAttribute("data-address");
                modal.querySelector("#edlocality").value = this.getAttribute("data-locality");
                modal.querySelector("#edpincode").value = this.getAttribute("data-pincode");
                modal.querySelector("#eddistrict").value = this.getAttribute("data-district");
                modal.querySelector("#edstate").value = this.getAttribute("data-state");
                modal.querySelector("#edphone").value = this.getAttribute("data-phone");
                modal.querySelector("#edcountry").value = this.getAttribute("data-country");
            });
        });

        // Save button click event to update the address
        document.getElementById("saveEditBtn").addEventListener("click", async function () {
            const addressId = this.getAttribute("data-addressid");
            const modal = document.getElementById("staticBackdropEdit");

            const updatedData = {
                firstname: modal.querySelector("#edfirstname").value,
                lastname: modal.querySelector("#edlastname").value,
                address: modal.querySelector("#edaddress").value,
                locality: modal.querySelector("#edlocality").value,
                pincode: modal.querySelector("#edpincode").value,
                district: modal.querySelector("#eddistrict").value,
                state: modal.querySelector("#edstate").value,
                phone: modal.querySelector("#edphone").value,
                country: modal.querySelector("#edcountry").value
            };



            try {
                const response = await fetch(`/update-address/${addressId}`, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(updatedData)
                });

                const data = await response.json();

                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Address updated successfully!',
                        confirmButtonColor: '#3085d6'

                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload(); // Reload the page to reflect the updated data
                        }
                    });

                    //location.reload(); // Reload to reflect the updated data
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Update Failed',
                        text: 'Failed to update address!',
                        confirmButtonColor: '#d33'
                    });
                }
            } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                    icon: 'error',
                    title: 'Update Error',
                    text: 'An error occurred while updating the address.',
                    confirmButtonColor: '#d33'
                });
            }
        });
    });

</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".delete-address").forEach(button => {
            button.addEventListener("click", async function () {
                const addressId = this.getAttribute("data-addressid");

                if (!addressId) {
                    console.error("Error: Address ID is missing!");
                    return;
                }

                // Call the delete function
                deleteAddress(addressId);
            });
        });
    });

    async function deleteAddress(addressId) {
        try {
            const result = await Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to undo this!",
                icon: "warning",
                showCancelButton: true,  // Enables the cancel button
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "Cancel"
            });

            if (result.isConfirmed) {  // Checks if the user confirmed the deletion
                const response = await fetch(`/delete-address/${addressId}`, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                const data = await response.json();

                if (data.success) {
                    await Swal.fire({
                        icon: "success",
                        title: "Deleted!",
                        text: "Address deleted successfully!",
                        confirmButtonColor: "#3085d6"
                    });
                    location.reload(); // Reload the page to reflect changes
                } else {
                    await Swal.fire({
                        icon: "error",
                        title: "Error!",
                        text: "Failed to delete address.",
                        confirmButtonColor: "#d33"
                    });
                }
            } else {  // If user clicks cancel, show a message and do nothing
                await Swal.fire({
                    icon: "info",
                    title: "Cancelled",
                    text: "Your address is safe!",
                    confirmButtonColor: "#3085d6"
                });
            }
        } catch (error) {
            console.error("Error:", error);
            await Swal.fire({
                icon: "error",
                title: "Error!",
                text: "An error occurred while deleting the address.",
                confirmButtonColor: "#d33"
            });
        }
    }
</script>