{{>header}}
<style>
    .nav-item:hover {
        background-color: #DFF2FA;
        /* Light blue background on hover */
        cursor: pointer;
        /* Add a pointer cursor for better UX */
    }

    .nav-item.active {
        background-color: #DFF2FA;
        /* Fixed light blue background for active */
    }

    .bg-theme-dark{
        background-color: #9FCEE2;
    }
    .bg-theme{
        background-color: #DFF2FA;
    }

</style>

<section style="background-color: #DFF2FA;">
    <div class="container">
        <div class="row p-5">
            <h2>Welcome Mariyam Jahangir</h2>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-2 mt-5">
                <nav class="d-flex flex-column p-3">
                    <a href="profile" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-person-circle p-2"></i>Profile</a>
                    <a href="address" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-cart4 p-2"></i>Address</a>
                    <a href="wishlist" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-heart p-2"></i>Wishlist</a>
                    <a href="orders" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2 active"
                        aria-current="page"><i class="bi bi-truck p-2"></i>Orders</a>
                    <a href="change-password" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-key p-2"></i>Password</a>
                    <a href="wallet" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-wallet2 p-2"></i>Wallet</a>
                    <a href="logout" class="link-dark link-underline-opacity-0 nav-item rounded px-3 py-2 mb-2"><i
                            class="bi bi-box-arrow-right p-2"></i>Logout</a>
                </nav>
            </div>
            <div class="col-10">
                <div class="container m-4 p-4">
                    <h1 class="text-center pb-4">ALL ORDERS</h1>
                    {{#if orders}}
                    {{#each orders}}
                   
                    <div class="grid gap-1 d-flex justify-content-between align-items-center border bg-theme p-3 m-2">
                        <!-- Product Image -->
                        <div class="col-1 text-center">

                            <a href="product-details/{{items.[0].productId._id}}"><img
                                    src="/uploads/{{items.[0].productDetails.images.[0]}}" alt="{{items.[0].productDetails.name}}"
                                    class="img-fluid"></a>
                        </div>

                        <!-- Product Details -->
                        <div class="col-7">
                            <p>{{items.[0].productDetails.name}} - {{items.[0].productDetails.variant.quantityML}} ML
                            {{#if (gt items.length 1)}}
                                (+{{dec items.length}} more {{#if (isEqual items.length 2)}}product {{else}} products{{/if}})
                            {{/if}}</p>
                            <p>Total Price: {{totalAmount}}</p>
                            <span class="fw-5">Ordered on: {{formatDate orderDate}}</span>

                        </div>

                      

                        <!-- Action Buttons -->
                        <div class="col-2 d-flex align-items-center">
                            <div class="p-2">
                                <a href="/order-detail/{{_id}}" type="button"
                                    class="btn btn-outline-primary px-3">View</a>
                            </div>
                            
                        </div>
                    </div>
                    
                    {{/each}}

{{#if totalPages}}
<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            {{#if (gt currentPage 1)}}
            <li class="page-item">
                <a class="page-link" href="?page={{sub currentPage 1}}">Previous</a>
            </li>
            {{/if}}

            {{#each (range 1 totalPages)}}
            <li class="page-item {{#if (isEqual this ../currentPage)}}active{{/if}}">
                <a class="page-link" href="?page={{this}}">{{this}}</a>
            </li>
            {{/each}}

            {{#if (lt currentPage totalPages)}}
            <li class="page-item">
                <a class="page-link" href="?page={{add currentPage 1}}">Next</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
{{/if}}






                    {{else}}
                        <div class="text-center flex-column">
                            <p> You have not ordered any products yet!</p>
                            <a href="/all-products" class="btn btn-secondary">Shop Now</a>
                        </div>                       
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</section>


{{>footer}}